In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
#Create Path
path= r'/Users/shantamaraj/Desktop/INSTACART DATA'

In [5]:
#Import data from previous exercise
df = pd.read_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_customer_merge.pkl'))

In [7]:
df.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'updated_busiest_days', 'busiest_period_of_day', 'first_name',
       'last_name', 'gender', 'state', 'age', 'date_joined', 'n_dependants',
       'family_status', 'income'],
      dtype='object')

## Missing Variables from ex 4.8

#Missing Variables: max_order, loyalty_flag, avg_price, spending_flag, median_days_since, order_frequency_flag

In [8]:
#CREATE a loyalty flag

# Step 1: Create 'max_order' per user using transform()
df['max_order'] = df.groupby('user_id')['order_number'].transform(np.max)

# Step 2: Use loc() to assign loyalty labels
df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df.loc[(df['max_order'] <= 40) & (df['max_order'] >= 10), 'loyalty_flag'] = 'Regular customer'
df.loc[df['max_order'] < 10, 'loyalty_flag'] = 'New customer'

/var/folders/9x/769d711n421bxzq6p4jzg37m0000gn/T/ipykernel_23384/1579691287.py:4: FutureWarning: The provided callable <function max at 0x10efb0b80> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df['max_order'] = df.groupby('user_id')['order_number'].transform(np.max)

In [9]:
#Check the output
df.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,last_name,gender,state,age,date_joined,n_dependants,family_status,income,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,10,Regular customer
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,10,Regular customer

In [10]:
#Check the value counts of the new "loyalty_flag" column
df["loyalty_flag"].value_counts()

loyalty_flag
Regular customer    16664890
Loyal customer      10293737
New customer         5475585
Name: count, dtype: int64

In [11]:
#5 Use the loyalty flag and check the basic statistics of the product prices for each loyalty category
df.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.778434  1.0  25.0
New customer      7.804438  1.0  25.0
Regular customer  7.803503  1.0  25.0

In [12]:
#6 Create a Spending Flag 

#Calculate the mean price per user across all their orders
df['avg_price'] = df.groupby('user_id')['prices'].transform(np.mean)

#Create the spending_flag based on the average price
df.loc[df['avg_price'] < 10, 'spending_flag'] = 'Low spender'
df.loc[df['avg_price'] >= 10, 'spending_flag'] = 'High spender'

/var/folders/9x/769d711n421bxzq6p4jzg37m0000gn/T/ipykernel_23384/3673484463.py:4: FutureWarning: The provided callable <function mean at 0x10efb1580> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df['avg_price'] = df.groupby('user_id')['prices'].transform(np.mean)

In [13]:
#Check data output
df['spending_flag'].value_counts()

spending_flag
Low spender     32313492
High spender      120720
Name: count, dtype: int64

In [14]:
#7 Calculate the median 'days_since_prior_order' per user
df['median_days_since'] = df.groupby('user_id')['days_since_prior_order'].transform(np.median)

#Apply the conditions using loc()
df.loc[df['median_days_since'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
df.loc[(df['median_days_since'] > 10) & (df['median_days_since'] <= 20), 'order_frequency_flag'] = 'Regular customer'
df.loc[df['median_days_since'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

/var/folders/9x/769d711n421bxzq6p4jzg37m0000gn/T/ipykernel_23384/4243305643.py:2: FutureWarning: The provided callable <function median at 0x10f0e8c20> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df['median_days_since'] = df.groupby('user_id')['days_since_prior_order'].transform(np.median)

In [15]:
#Check data output
df['order_frequency_flag'].value_counts()

order_frequency_flag
Frequent customer        21577409
Regular customer          7217134
Non-frequent customer     3639669
Name: count, dtype: int64

In [16]:
#Check Dataframe to see if all missing variables are there
df.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'updated_busiest_days', 'busiest_period_of_day', 'first_name',
       'last_name', 'gender', 'state', 'age', 'date_joined', 'n_dependants',
       'family_status', 'income', 'max_order', 'loyalty_flag', 'avg_price',
       'spending_flag', 'median_days_since', 'order_frequency_flag'],
      dtype='object')

In [17]:
#Save and export to prepared data
df.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge_4.10'))

In [18]:
df.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,date_joined,n_dependants,family_status,income,max_order,loyalty_flag,avg_price,spending_flag,median_days_since,order_frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,2/17/2019,3,married,40423,10,Regular customer,6.367797,Low spender,20.5,Non-frequent customer
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,2/17/2019,3,married,40423,10,Regular customer,6.367797,Low spender,20.5,Non-frequent customer